body {
  display: flex;
  justify-content: center;
  background-color: #bcbaba;
}

h1 {
  display: flex;
  justify-content: center;
  font-family: Georgia, serif;
  font-size: 48px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  text-shadow: 2px 2px 2px #1C6EA4;
}

.myButton {
  color: rgb(255, 255, 255); font-size: 16px; line-height: 16px; padding: 6px; border-radius: 10px; font-family: Georgia, serif; font-weight: normal; text-decoration: none; font-style: normal; font-variant: normal; text-transform: none; background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%); box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px; border: 2px solid rgb(28, 110, 164); display: inline-block;}
  .myButton:hover {
  background: #1C6EA4; }
  .myButton:active {
  background: #144E75; 
}

label {
  font-family: Georgia, serif;
  font-size: 24px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  text-shadow: 2px 2px 2px #1C6EA4;
}

h3, h5 {
  font-family: Georgia, serif;
  font-size: 16px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: #000000;
  font-weight: 700;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  /* background-color: #1C6EA4;
  width: fit-content; */
}


.card-img {
  box-shadow: 2px 2px 2px #1C6EA4;
}

.error {
  width: 500px;
}

.weatherCard {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 20px;
}